$redes:(
  facebook: #3b5998,
  instagram: #E1306C,
  whatsapp: #128c7e,
);

@each $nombre, $color in $redes {
  .btn-#{$nombre} {
    color: $color;
  }
}

@mixin button($textColor, $backgroundColor, $borderColor) {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  margin: 0;
  text-transform: none;
  -webkit-appearance: button;
  display: inline-block;
  padding: 0.75rem 0.375rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $textColor;
  background-color: $backgroundColor;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  border: 1px solid $borderColor;
  border-radius: 0.375rem;
}
